/* General */
@font-face {
  font-family: kiss;
  src: url("Raleway-Light.ttf");
}

@font-face {
  font-family: vanity;
  src: url("VanityBold-BW08V.otf");
}

@font-face {
  font-family: boldboi;
  src: url("boldeen.ttf");
}

@font-face {
  font-family: stroker;
  src: url("JamesStroker-jEZMO.ttf");
}
.welcome {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  font-size: 10vw;
  padding-top: 10%;
  text-shadow: 5px 5px #bd945f;
}
body {
  text-align: center;
  font-family: kiss, sans-serif;
  background-color: whitesmoke;
  color: black;
}

.catHeader {
  text-align: center;
  font-family: stroker, sans-serif;
  font-size: 15vw;
  color: white;
}

.catAbout{
  font-size: 4vw;
  color: white;
  font-family: kiss;
  font-weight: bolder;
}

* {
  font-family: kiss, sans-serif;
}

.inputContainer{
  background-color: honeydew;
  width: 90%;
  padding-top: 5%;
  margin: 5% auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgb(62, 119, 226);
}



/* FOR WIDER SCREENS */
@media screen and (min-width: 600px) {
  .displayPic{
    margin-top: 5%;
    border-radius: 50%;
    width: 40%;
    height: 40%;
  }
  .proIntro {
    color: rgb(31, 29, 29);
    font-family: vanity, sans-serif;
    font-size: 10vw;
  }
}

/* For small screens */
@media screen and (max-width: 600px) {
  .displayPic{
    border-radius: 50%;
    width: 90%;
    height: 70%;
  }
  .proIntro {
    color: rgb(31, 29, 29);
    font-family: vanity, sans-serif;
    font-size: 20vw;
  }
}





/* Input fields */
.proIntroField{
  background-color: transparent;
  border: thin;
  border-color: black;
  text-align: center;
  justify-content: center;
  font-size: 13vw;
  color: rgb(31, 29, 29);
  font-family: vanity, sans-serif;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  overflow-y: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(158, 29, 29);
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 2px 16px;}


.greenHigh{
background-color: greenyellow ;


}
  /* define values in pixels / Percentage or em. whatever suits 
     your requirements */
.transFieldBig{
      background-color: transparent;
      border: thin;
      border-color: black;
      text-align: center;
      justify-content: center;
      font-size: 5vw;
      width: 100%;
       
}

.transFieldMedium{
  background-color: transparent;
  border: thin;
  border-color: black;
  text-align: center;
  font-size: 3vw;
  max-width: unset;
 
}

.transFieldSmall{
  background-color: transparent;
  border: thin;
  border-color: black;
  text-align: center;
  font-size: 2vw;
  max-width: unset;
 
}

#textBox{
  display: block; 
  overflow: hidden; 
  resize: none;
  
}

.inputBox {
  width: 90%;
  color: rgb(10, 10, 10);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(246, 247, 247), rgb(253, 250, 252));
  padding: 10px 20px;
  border-color: black;
  border-radius: 20px;
  outline: none;
  align-content: center;
  box-sizing: border-box;
  border: 5px solid rgba(0, 0, 0, 0.02);
  margin-left: 10px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#project{
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}



section {
  overflow-y: scroll;
  scroll-behavior: smooth; /* <----- THE SECRET ---- */
}


/* Buttons */
.loginButton {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, rgb(39, 176, 165), rgb(86, 251, 64));
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  width: 76%;
  font-size: 13px;
  margin-bottom: 5%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.yellowButton {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, rgb(250, 213, 2), rgb(251, 192, 64));
  border: 0;
  font-family: sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px #131312;
  width: 40%;
  height: 50px;
  font-size: 26px;
  margin-top: 5%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


/* Containers */


.orgBox {
  background-image: url("images/org.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
}

.curvybox {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}



/* c Preview */

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.c-preview {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #cfbf28 50%, #d62525 75%, #c46710 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #cfbf28 50%, #d62525 75%, #c46710  100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 500px;
  height: 500px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: .5s all;
}
.c-preview__img {
  position: absolute;
  left: 0;
  top: 0;
  background: #000 url(https://images.unsplash.com/photo-1466657718950-8f9346c04f8f?dpr=1&auto=format&fit=crop&w=800&h=800&q=80&cs=tinysrgb) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
  mix-blend-mode: screen;
}
.c-preview__title {
  position: relative;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.c-preview:hover {
  background-position: 100% 100%;
}
.c-preview:hover__title {
  text-shadow: 0 0 20px black;
}










/* Nav bar */
nav.primary-navigation {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid #3ca0e7;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: arvo;
}
nav.primary-navigation li a {
  color: black;
}
nav.primary-navigation li a:hover {
  color: #3ca0e7;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: #3CA0E7;
}

ul li ul li a {
  transition: all 0.5s ease;
}




.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

