{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{user.username}} Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
  </head>
  <body>
    <img src="{{profile.displayPic.image.url}}" width="240" />
    <h1>{{profile.first}} {{profile.last}}</h1>
    <h3>{{user.email}}</h3>

    <nav class="quickNav">
      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="{% url 'myprofile'%}" tabindex="-1">
            About
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#edu"> Education</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#work"> Work Experience</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'myportfolio'%}">
            Projects and Acheivements</a
          >
        </li>
      </ul>
    </nav>

    <p>Bio: {{profile.bio}}</p>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              Modal title
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <section>
      <h2 id="edu">Education</h2>

      {% for education in educations %}

      <h2>
        {{education.school}} <a href="{% url 'eduEdit' education.id %}">Edit</a>
      </h2>
      <h3>{{education.degree}}</h3>
      <h2>{{education.field}}</h2>
      <p>{{education.about}}</p>

      {% endfor %}

      <a href="{% url 'eduCreate'%}"> <h3>Add new Education details</h3></a>

      <h2 id="work">Work Experience</h2>

      {% for work in works %}

      <h1>{{work.company}} <a href="{% url 'workEdit' work.id %}">Edit</a></h1>
      <h3>{{work.title}}</h3>
      <p>{{work.about}}</p>

      {% endfor %}

      <a href="{% url 'workCreate'%}"> <h3>Add new Work Experience</h3></a>
    </section>
  </body>
</html>
