<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Create Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1> {{username}}</h1> 

    <h1>Profile</h1>
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    <form action="{% url 'myprofile' %}" method="post">
        {% csrf_token %}
        <h3> First name: </h3><h5> {{first}}</h5>
        <input name="first" type="text" placeholder="First name"/>
        <h3> Last name: </h3><h5> {{last}}</h5>
        <input name="last" type="text" placeholder="Last name"/>
        <h3> Your Bio: </h3><h5> {{bio}}</h5>
        <input name="bio" type="text" placeholder="Your Bio"/>
        <h3> Date of birth: </h3><h5> {{date}}</h5>
        <input name="date" type="date" placeholder="Date of Birth"/>
        <input type="submit" value="Apply Changes"/>
    </form>
    
</body>
</html>