{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Smap Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap javascript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <!-- Custom css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
    <link rel="icon" href="favicon.ico" />
    <!-- Custom icons -->
    <script
      src="https://kit.fontawesome.com/11fafd664d.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}

      <!-- The rest of the form -->
      <div class="col-lg-6">
        <h1>Register</h1>
        <br />
        <input
          type="text"
          name="username"
          class="inputBox"
          placeholder="Username"
        />
        <input
          type="email"
          name="email"
          class="inputBox"
          placeholder="Email Address"
        />
        <input
          type="password"
          name="password"
          class="inputBox"
          placeholder="Password"
        />
        <input
          type="password"
          name="passwordConfirm"
          class="inputBox"
          placeholder="Confirm Password"
        />
        <span class="button-checkbox">
          <button type="button" class="btn" data-color="info">I Agree</button>
          <input
            name=""
            type="checkbox"
            name="t_and_c"
            id="t_and_c"
            class="hidden"
            value="1"
          />
        </span>
        <div class="col-xs-8 col-sm-9 col-md-9 consent-tick">
          By clicking <strong class="label label-primary">Register</strong>, you
          agree to the
          <a href="#" data-toggle="modal" data-target="#t_and_c_m"
            >Terms and Conditions</a
          >
          set out by Smap.Space
        </div>
        <br />
        <input type="submit" value="Register" class="loginButton" />
      </div>
      <a href="{% url 'index' %}"> Already have an account? Login here!</a>
    </form>

    <div
      class="modal fade"
      id="t_and_c_m"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
          </div>
          <div class="modal-body">
            <p>
              I will give 50$ to the founder of smap
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">
              I Agree
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </body>
</html>
